
<!--Start Footer-->
<div class="footer">
    <div class="grid_8 alpha">
        <div class="widget_inner">
            <h4>Local Schools</h4>
            <div class="textwidget">
                <ul class="poi">
                    <li><a href="http://www.fcps.edu/index.shtml">Fairfax County Public Schools</a></li>
                    <li><a href="http://www.fcps.edu/MosbyWoodsES/">Mosby Woods Elementary</a></li>
                    <li><a href="http://www.fcps.edu/LutherJacksonMS/">Luther Jackson Middle School</a></li>
                    <li><a href="http://www.fcps.edu/OaktonHS/">Oakton High School</a></li>
                    <li><a href="http://www.gmu.edu/">George Mason University</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_8">
        <div class="widget_inner">
            <h4>Points of Interest</h4>
            <div class="textwidget">
                <ul class="poi">
                    <li>
                        <a href="https://www.redfin.com/city/24407/VA/Mantua/filter/sort=lo-distance,include=sold-1mo,viewport=38.91568541308594:38.812688586914064:-77.18909254921876:-77.32642165078126,no-outline,geo-address=Fairfax%0C+VA">Local
                            Area Home Sales</a>
                    </li>
                    <li>Local Shopping:
                        <ul>
                            <li><a href="http://www.shoptysons.com/">Tyson's Corner</a></li>
                            <li><a href="http://www.tysonsgalleria.com/">Tyson's Galleria</a></li>
                            <li><a href="http://www.shopfairoaksmall.com/">Fairfax Mall</a></li>
                        </ul>
                    </li>
                    <li><a href="http://www.wmata.com/metrorail/Stations/station.cfm?station=103">Vienna
                        Metro Station</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Footer-->
    <div class="clear"></div>
</div>
<!--End Footer-->
