
<!--Start Menu-->
<div class="menu_wrapper">
    <div id="menu" class="ddsmoothmenu">
        <ul id="menu-main-menu" class="ddsmoothmenu">
            <li id="menu-item-1"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-40">
                <a href="/">Home</a>
            </li>
            <li id="menu-item-2"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
                <a href="/location">Location</a>
            </li>
            <li id="menu-item-3"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51">
                <a href="/updates">Updates</a>
            </li>
            <li id="menu-item-4"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49">
                <a href="/hoa">HOA</a>
            </li>
            <li id="menu-item-5"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
                <a href="/forum">Forums</a>
            </li>
            <li id="menu-item-6"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
                <a href="/calendar">Calendar</a>
            </li>
        </ul>
    </div>
</div>
<!--End Menu-->
