---
layout: default
---

<div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
        {%- assign event_date = page.path | split: '/' | last | slice: 0, 10 -%}
        {%- assign publish_date = page.date | date: "%Y-%m-%d" -%}
        {%- if event_date != publish_date %}
        <span class="post-event-date">Event date: {{ event_date }}</span> &nbsp;&mdash;&nbsp;
        {%- endif %}
        <span class="post-publish-date">Published {{ page.date | date: "%B %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}</span>
    </div>
</div>

<div class="post-body">
    {% if page.img %}<img class="updates-img" src="{{page.img}}" alt="{{ page.title }}">{% endif %}
    {{ content }}
</div>

<div class="post-footer-cta">
    Want to get involved or have a question? Reach out
    <a href="mailto:home@kendallsquarefairfax.com">via email</a> or join the
    <a href="/forum">community forum</a>.
</div>